<ion-modal-view view-title="My Time Spent">
  <ion-content class="padding">
  	<h2 style="text-align: center">Give Steve a call!</h2>
  	<div class="card">
      <div class="item item-divider">
        <i class="ion-ios-telephone"></i> Phone
      </div>
      <div class="item item-text-wrap">
        <a href="#">(804) 555-1212</a>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <i class="ion-android-mail"></i> Email
      </div>
      <div class="item item-text-wrap">
        <a href="#">steve@gmail.com</a>
      </div>
    </div>
    <button class="button button-positive" ng-click="calledFriend()">Done!</button>
  </ion-content>
</ion-modal-view>