<ion-view view-title="15 Minutes">
  <ion-content class="padding">
  	<p>
  		<h4>
  	Activities that can be done in 15 minutes or less
  	</h4>

  	<h5>
    <div class="list card">
  <div class="padding">
  <div class="item item-icon-left">
    <i class="icon ion-ios-body"></i>
    Small exercises/Streatching
  </div>
  </div>
  <div class = "padding">
  <div class="item item-icon-left">
    <i class="icon ion-coffee"></i>
    Drink a cup of tea
  </div>
  </div>
  <div class="padding">
  <div class="item item-icon-left">
    <i class="icon ion-power"></i>
    Play computer/video games
  </div>
  </div>
  <div class="padding">
  <div class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    Call a friend
  </div>
  </div>
  <div class="padding">
  <div class="item item-icon-left">
    <i class="icon ion-ios-camera"></i>
    Take pictures
  </div>
  </div>
</div>
   </h5>
  	</p>
  </ion-content>
</ion-view>