<ion-view view-title="My Time Spent">
  <ion-content class="padding">
  	
  	<h2 style="text-align: center">
  	How did you spend your time?
  	</h2>

  	<p>
    Activity: 
  	</p>

  <ion-list>

  <ion-checkbox ng-model="filter.blue">Went to the gym</ion-checkbox>
  <ion-checkbox ng-model="filter.blue">Read a chapter</ion-checkbox>
  <ion-checkbox ng-model="filter.blue">Drank tea</ion-checkbox>
  <ion-checkbox ng-model="filter.blue">Wrote in journal</ion-checkbox>
  <ion-checkbox ng-model="filter.blue">Had coffee with a friend</ion-checkbox>
  <ion-checkbox ng-model="filter.blue">Looked at clouds</ion-checkbox>

  </ion-list>
  </ion-content>
</ion-view>