<ion-view view-title="Menu">
  <ion-content class="padding">
  	<p>
  	<div class="list">
    <a class="item item-thumbnail-center" href="#/mytime">
      <h1>My Time</h1>
    </a>

    <div class="list">
    <a class="item item-thumbnail-center" href="#/theirtime">
      <h1>Their Time</h1>
    </a>

    <div class="list">
    <a class="item item-thumbnail-center" href="#/whattime">
      <h1>What Time</h1>
    </a>

    <div class="list">
    <a class="item item-thumbnail-center" href="#/notime">
      <h1>No Time</h1>
    </a>

	</div>

  		
  	</p>
  </ion-content>
</ion-view>