<ion-view view-title="My Time">
  <ion-content class="padding">
	<h1 class = "item-center">
	  My Time
	</h1>
    <div class="list">
    	<a class="item item-avatar item-text-wrap" href="#">
      	<img ng-src="img/he_skater.jpg">
      	<p>I spent my time reading today.</p>
    	</a>
        
      <a class="item item-avatar item-text-wrap" href="#">
        <img ng-src="img/he_skater.jpg">
        <p>I spent my time on the phone with my daughter yesterday.</p>
      </a>
      <a class="item item-avatar item-text-wrap" href="#">
        <img ng-src="img/he_skater.jpg">
        <p>I spent my time looking at cherry blossoms two days ago.</p>
      </a>
		</div>
  </ion-content>
</ion-view>