<ion-view view-title="No Time">
  <ion-content class="padding">
    <h1 class = "item-center">No Time</h1>
  	<p>These friends have not checked in a while. See how your friends are doing!</p>
    <div class="list card">

      <a href="#" class="item item-text-wrap" ng-click="callFriend()">
        Steve hasn't spent any time for over 7 days!<br>
        <i class="ion-ios-telephone"></i>
        <i class="icon ion-email"></i>
      </a>

      <a href="#" class="item item-text-wrap">
        Katie hasn't spent any time for over 5 days!<br>
        <i class="ion-ios-telephone"></i>
        <i class="icon ion-email"></i>
      </a>

      <a href="#" class="item item-text-wrap">
        Bill hasn't spent any time for over 4 days!<br>
        <i class="ion-ios-telephone"></i>
        <i class="icon ion-email"></i>
      </a>

      <a href="#" class="item item-text-wrap">
        Stephanie hasn't spent any time for over 3 days!<br>
        <i class="ion-ios-telephone"></i>
        <i class="icon ion-email"></i>
      </a>

    </div>
  </ion-content>
</ion-view>