<ion-view view-title="No Time">
  <ion-content class="padding">
  	<p>

  		<h1 class = "item-center">
        No Time
  		</h1>
        
        These friends have not checked in a while. See how your friends are doing!
  	</p>

  	<p>
  	Steve Read on Feb 28, 2016 for 30 minutes
  	<p>
    <i class="ion-ios-telephone"></i>
    <i class="icon ion-email"></i>
    </p>
  	</p>
  	<p>
  	Katie Painted on Feb 27, 2016 for 1 hour
  	<p>
    <i class="ion-ios-telephone"></i>
    <i class="icon ion-email"></i>
    </p>
  	</p>
  	<p>
  	Howard Looked at Clouds on Feb 26, 2016 for 5 minutes
  	<p>
    <i class="ion-ios-telephone"></i>
    <i class="icon ion-email"></i>
    </p>
  	</p>
  </ion-content>
</ion-view>