<ion-view view-title="1 Hour">
  <ion-content class="padding">
  	<p>
  		<h4>
  	Activities that can be done in 1 hour or less
  	</h4>

  	<h5>
    <div class="list card">
  <div class="padding">
  <div class="item item-icon-left">
    <i class="icon ion-eye-disabled"></i>
    Nap
  </div>
  </div>
  <div class = "padding">
  <div class="item item-icon-left">
    <i class="icon ion-person-stalker"></i>
    Friend over for coffee
  </div>
  </div>
  <div class="padding">
  <div class="item item-icon-left">
    <i class="icon ion-bonfire"></i>
    Bake a cake
  </div>
  </div>
  <div class="padding">
  <div class="item item-icon-left">
    <i class="icon ion-scissors"></i>
    Knit/Crochet
  </div>
  </div>
  <div class="padding">
  <div class="item item-icon-left">
    <i class="icon ion-paintbrush"></i>
    Painting a picture
  </div>
  </div>
</div>
   </h5>
  	</p>
  </ion-content>
</ion-view>