<ion-view view-title="Their Time">
  <ion-content class="padding">
		<h1 class = "item-center">
      Their Time
		</h1>
    <div class="list">
    	<a class="item item-avatar" href="#">
      	<img ng-src="img/he_skater.jpg">
      	<h2>Collier</h2>
      	<p>Spent his time reading today.</p>
    	</a>
        
      <a class="item item-avatar" href="#">
        <img ng-src="img/she_skater.jpg">
        <h2>Mary Margaret</h2>
        <p>Spent her time in her "special spot".</p>
      </a>
      <a class="item item-avatar" href="#">
        <img ng-src="img/she_skater.jpg">
        <h2>Christie</h2>
        <p>Spent her time walking today.</p>
      </a>
		</div>
  </ion-content>
</ion-view>