<ion-view view-title="What Time">
  <ion-content class="padding">
  	<p>
  		
  		<h1 class = "item-center">
        What Time?
  		</h1>
        <p>
  	<div class="list">
    <a class="item item-thumbnail-center" href="#/five">
      <h1>5 Minutes</h1>
    </a>

    <div class="list">
    <a class="item item-thumbnail-center" href="#/fifteen">
      <h1>15 Minutes</h1>
    </a>

    <div class="list">
    <a class="item item-thumbnail-center" href="#/thirty">
      <h1>30 Minutes</h1>
    </a>

    <div class="list">
    <a class="item item-thumbnail-center" href="#/onehour">
      <h1>1 Hour</h1>
    </a>

	</div>

  		
  	</p>
  	</p>
  </ion-content>
</ion-view>